<launch>

<!-- <arg name="config_path" default="~/catkin_ws/src/VINS-Fusion/config/euroc/cbluerov_stereo_imu_config.yaml" /> -->

<!-- To un-compress image topics -->
  <node name="republish1" type="republish" pkg="image_transport" output="screen" args="compressed in:=/son raw out:=/son" />

</launch>